<div class="outer">
  <div class="toppanel">

  </div>
  <div class="header">
    <div class="header__header"><h1>Users</h1></div>
  </div>
  <app-user-info [user]="selectedUser" [hidden] = "hide"></app-user-info>

  <table>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Date of birthday</th>
      <th>Phone</th>
      <th>E-Mail</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.dateBirthday}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.eMail}}</td>
      <td>{{user.date}}</td>
      <td><a href="#" class="button15" (click)="selectUser(user)">Edit</a></td>
      <td><a href="#" class="button15" (click)=removeUser(user)>Delete</a></td>
    </tr>
  </table>

<!-- Add user -->
  <div>
    <h2>Add user</h2>
    <input
        type="text"
        placeholder="Name..."
        [(ngModel)] = "name"
        required pattern="[A-Za-z]{3,60}"
    >
    <input
        type="text"
        placeholder="Surname..."
        [(ngModel)] = "surname"
        required pattern="[A-Za-z]{3,60}"
    >
    <input
        type="text"
        placeholder="Birthday..."
        [(ngModel)] = "dateBirthday"
        required
    >
    <input
        type="text"
        placeholder="Phone..."
        [(ngModel)] = "phone"
        required pattern="[0-9]{10}"
    >
    <input
        type="text"
        placeholder="Email..."
        [(ngModel)] = "eMail"
        required email
    >
    <button (click)="addUser()">Add user</button>
</div>


</div>